/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Style the header */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header h1 span {
    color: #ffcc00; /* Highlight color for the span */
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

/* Style the main content */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.intro, .research {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro h2, .research h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.intro p, .research p {
    font-size: 16px;
    line-height: 1.8;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

/* Add this CSS code to your existing styles.css */

/* Style the slideshow */
.slideshow {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: auto;
    display: none;
}

/* Media queries for responsive image sizing */
/* @media (max-width: 768px) {
    
} */


/* Media queries for responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    nav li {
        margin-right: 10px;
    }

    .intro h2, .research h2 {
        font-size: 24px;
    }

    .intro p, .research p {
        font-size: 14px;
    }
    .slide {
        max-width: 100%;
        height: auto;
    }
}
